#customize-theme-controls #accordion-section-newscrunch_upsell h3 {
	background-color: #669c9b;
	color: #fff;
	padding: 10px 10px;
	font-weight: 700;
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#customize-theme-controls #accordion-section-newscrunch_upsell .button {
	margin-left: 20px;
	background: #000000;
    border-color: #000000;
}

.newscrunch-upsell-feature-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 10px;
}
.newscrunch-upsell-feature-wrapper p {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.newscrunch-upsell-feature-wrapper p:last-of-type {
	text-align: right;
}