[data-theme="spnc_dark"] body {color: #ffffff;}
[data-theme="spnc_dark"] p,[data-theme="spnc_dark"] .comment-box .comment-detail p{color: #CACBD2;}
[data-theme="spnc_dark"] .spnc-entry-content h1, [data-theme="spnc_dark"] .spnc-entry-content h2, [data-theme="spnc_dark"] .spnc-entry-content h3, [data-theme="spnc_dark"] .spnc-entry-content h4, [data-theme="spnc_dark"] .spnc-entry-content h5,[data-theme="spnc_dark"] .spnc-entry-content h6 {color: #ffffff;}
[data-theme="spnc_dark"] #wrapper {background: #000000;}
[data-theme="spnc_dark"] a {color: #ffffff;}
[data-theme="spnc_dark"] #spnc-sidebar-panel-fixed .widget-title {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-highlights-1 .spnc-container .spnc-row,
[data-theme="spnc_dark"] .spnc-page-section-space.spnc-video .spnc-container .spnc-video-row:not(.video-img){background: #1b1b1b;}
[data-theme="spnc_dark"] .head-contact-info li {color: #ffffff;}
[data-theme="spnc_dark"] .custom-social-icons li>a {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-custom .spnc-nav li>a,
[data-theme="spnc_dark"] .spnc-dark-icon,
[data-theme="spnc_dark"] .spnc-widget-toggle>a.spnc-toggle-icon {color: #ffffff;}
[data-theme="spnc_dark"] .header-1 .spnc-custom .spnc-navbar .spnc-container {background: #1b1b1b;box-shadow: 0 5px 25px 0 #ffffff10;}
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper h4.spnc-entry-title a,
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper .spnc-post .spnc-description {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper-1 h4.spnc-entry-title a,
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper-2 h4.spnc-entry-title a,
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper-3 h4.spnc-entry-title a {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper-1 h4.spnc-entry-title a {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-sidebar .widget.widget_block h2,
[data-theme="spnc_dark"]  .widget.widget_block h2 {color: #ffffff;border-color: #ffffff4d;}
[data-theme="spnc_dark"] .spnc-sidebar .wp-block-search .wp-block-search__label,
[data-theme="spnc_dark"] .spnc-sidebar .widget.widget_block h1,
[data-theme="spnc_dark"] .spnc-sidebar .widget.widget_block h2,
[data-theme="spnc_dark"] .spnc-sidebar .widget.widget_block h3,
[data-theme="spnc_dark"] .spnc-sidebar .widget.widget_block h4,
[data-theme="spnc_dark"] .spnc-sidebar .widget.widget_block h5,
[data-theme="spnc_dark"] .spnc-sidebar .widget.widget_block h6{color: #ffffff;border-color: #ffffff4d;}
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper .spnc-post {box-shadow: 0 0 1px 1px rgba(42, 42, 42, 1);background: #1b1b1b;}
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper .spnc-post:hover {box-shadow: 0 0 1px 1px rgba(42, 42, 42, 1);}
[data-theme="spnc_dark"] .spnc-panels {background: transparent;}
[data-theme="spnc_dark"] .spnc-sidebar .spnc-panel ul li a {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-sidebar .widget_categories .wp-block-categories-list .cat-item:before,
[data-theme="spnc_dark"] .spnc-sidebar .spnc_widget_recent_entries .wp-block-latest-posts__list li:before {color: #669c9b;}
[data-theme="spnc_dark"] .spnc-sidebar .widget_categories .wp-block-categories-list .cat-item a,
[data-theme="spnc_dark"] .spnc-sidebar .spnc_widget_recent_entries .wp-block-latest-posts__list li a {color: #6C6C6F;}
[data-theme="spnc_dark"] .spnc-sidebar .widget_categories .wp-block-categories-list .cat-item a:hover,
[data-theme="spnc_dark"] .spnc-sidebar .spnc_widget_recent_entries .wp-block-latest-posts__list li a:hover {color: #669c9b;}
[data-theme="spnc_dark"] .spnc-sidebar .widget_categories .wp-block-categories-list .cat-item span {background-color: #242424;color: #ffffff;}
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper .spnc-post {box-shadow: 0 0 1px 1px rgba(42, 42, 42, 1);background: #1b1b1b;}
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper .spnc-post:hover {box-shadow: 0 0 1px 1px rgba(42, 42, 42, 1);}
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper h4.spnc-entry-title a,
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper .spnc-post .spnc-description {color: #ffffff;}
[data-theme="spnc_dark"]  .widget-recommended-post ul li a {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-sidebar .widget-social-field li .spnc-service-link {background: #ffffff;}
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper .owl-carousel .owl-prev,
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper .owl-carousel .owl-next,
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper-2 .owl-carousel .owl-prev,
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper-2 .owl-carousel .owl-next,
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper .owl-carousel .owl-prev,
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper .owl-carousel .owl-next,
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper-2 .owl-carousel .owl-prev,
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper-2 .owl-carousel .owl-next {background: transparent;}
[data-theme="spnc_dark"] .page-section-space .spnc_error_404 .spnc_error_heading h3 {color: #ffffff;}
[data-theme="spnc_dark"] .page-section-space .spnc_error_404 .spnc_404_link a {color: #000000;background: #ffffff;}
[data-theme="spnc_dark"] .page-section-space .spnc_error_404 .spnc_404_link a:hover {color: #ffffff;}
[data-theme="spnc_dark"] .head-contact-info li a {color: #ffffff;}
[data-theme="spnc_dark"] .page-title-section {background: #1b1b1b;}
[data-theme="spnc_dark"] .page-title h1 {color: #ffffff;}
[data-theme="spnc_dark"] .page-breadcrumb {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper h4.spnc-entry-title a {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-single-post .pagination .spnc-post-content h4.spnc-entry-title a {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-single-post .comment-form form label {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-post-footer-content .spnc-text-black {color: #cacbd2;}
[data-theme="spnc_dark"] .spnc-post-footer-content .spnc-footer-social-links {background: transparent;}
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-post-footer-content .spnc-entry-meta a {color: #ffffff;background: #1b1b1b;box-shadow: 0 0 1px 1px rgba(42, 42, 42, 1);}
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-post-footer-content {border: 1px solid rgba(42, 42, 42, 1);}
[data-theme="spnc_dark"] .spnc-contact-1 .spnc-contact-col form input[type="text"],
[data-theme="spnc_dark"] .spnc-contact-1 .spnc-contact-col form input[type="tel"],
[data-theme="spnc_dark"] .spnc-contact-1 .spnc-contact-col form input[type="email"],
[data-theme="spnc_dark"] .spnc-contact-1 .spnc-contact-col textarea {border: 1px solid rgba(42, 42, 42, 1);color: #ffffff;}
[data-theme="spnc_dark"] .spnc-contact-1 .spnc-contact-col form label {color: #ffffff;}
[data-theme="spnc_dark"] .page-section-space .spnc-col-9 .spnc_con_info {border: 1px solid rgba(42, 42, 42, 1);background: #1b1b1b;}
[data-theme="spnc_dark"] .spnc-contact-1 .spnc-col-9 .spnc_con_info .spnc_con_right .spnc_con_add h4 {color: #ffffff;}
[data-theme="spnc_dark"] .spnc-sidebar .wp-block-search .wp-block-search__label {color: #ffffff;border: 1px solid #ffffff4d;}
[data-theme="spnc_dark"] .spnc-category-page .spnc-grid-catpost .spnc-post-wrapper, [data-theme="spnc_dark"] .spnc-blog-page .spnc-post-wrapper {background: #1b1b1b;}
[data-theme="spnc_dark"] .spnc-category-page .spnc-grid-catpost .spnc-post-wrapper {background: #1b1b1b;}
[data-theme="spnc_dark"] .spnc-pagination a {background-color: #1b1b1b;color: #ffffff;}
[data-theme="spnc_dark"] .spnc-category-page .spnc-grid-catpost .spnc-post .spnc-post-wrapper .spnc-entry-meta a {color: #6C6C6F;}
[data-theme="spnc_dark"] .spnc-toggle{color: #ffffff;}
[data-theme="spnc_dark"] .spnc-single-post .comment-form form input[type="text"],
[data-theme="spnc_dark"] .spnc-single-post .comment-form form input[type="email"],
[data-theme="spnc_dark"] .spnc-single-post .comment-form form textarea {color: #FFFFFF;border-color: #2a2a2a;}
[data-theme="spnc_dark"] .spnc-label-tab{ border: 1px solid rgba(255, 255, 255, 0.3);}
[data-theme="spnc_dark"] .spnc-label-tab.active{border: transparent;}
[data-theme="spnc_dark"] .spnc-label-tab .spnc-tab{color: #6C6C6F;background-color: transparent;}
[data-theme="spnc_dark"] .spnc-label-tab.active .spnc-tab{color: #000000;background-color: #FFFFFF;}
[data-theme="spnc_dark"]  .widget.widget_calendar{color: #ffffff;}
[data-theme="spnc_dark"]  .widget.widget_calendar td{color: #ffffffcc;}
[data-theme="spnc_dark"] .widget.widget_archive ul li{color: #ffffff;}
[data-theme="spnc_dark"] .custom-logo-link-url .site-title a,
[data-theme="spnc_dark"] .custom-logo-link-url .site-description { color: #ffffff; }
[data-theme="spnc_dark"] .spnc-sidebar .widget.side-bar-widget .spnc-widget-title{color: #ffffff; border-color: #ffffff4d;}
[data-theme="spnc_dark"] .widget_newscrunch_social_icons li .spnc-service-link {background: #ffffff;}
[data-theme="spnc_dark"] .widget_newscrunch_featured_post .spnc-entry-title a,
[data-theme="spnc_dark"] .widget_newscrunch_post_grid_two_col .widget-recommended-post li a{color: #ffffff;}
[data-theme="spnc_dark"] .widget .wp-block-latest-posts li a, 
[data-theme="spnc_dark"] .widget .wp-block-archives li a, 
[data-theme="spnc_dark"] .widget .wp-block-categories li a, 
[data-theme="spnc_dark"] .widget .wp-block-page-list li a, 
[data-theme="spnc_dark"] .widget .wp-block-rss li a, 
[data-theme="spnc_dark"] .widget_meta ul li a, 
[data-theme="spnc_dark"] .widget .wp-block-latest-comments li a,
[data-theme="spnc_dark"] .widget .widget_nav_menu li a{color: #fff;}
[data-theme="spnc_dark"]  .widget_newscrunch_featured_post .spnc-post .spnc-more-link{color: #6C6C6F;}
[data-theme="spnc_dark"] .spnc-category-page .spnc-grid-catpost .spnc-entry-header {border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
[data-theme="spnc_dark"] .pagination a, [data-theme="spnc_dark"] .pagination a{color: #ffffff;background-color: #1b1b1b;border: 1px solid #1b1b1b;}
[data-theme="spnc_dark"] .pagination a.prev, [data-theme="spnc_dark"] .pagination a.next {border: 1px solid #1b1b1b;background-color: transparent;}
[data-theme="spnc_dark"] .page-title:not(.page-section-space.blog .page-title, 
[data-theme="spnc_dark"] .error404 .error-page .page-title) :is(span,h1,h2,h3,h4,h5,h6,p,div){color: #ffffff;}
[data-theme="spnc_dark"] .widget .wp-block-latest-comments footer{color: #fff;}
[data-theme="spnc_dark"]  .spnc-sidebar .widget .wp-block-tag-cloud a{color: #ffffff;border: 1px solid #D7D7D7;}
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-entry-title,
[data-theme="spnc_dark"] .comment-box .comment-detail .comment-detail-title,
[data-theme="spnc_dark"]  .comment-section .comment-title h3{color: #FFFFFF;}
[data-theme="spnc_dark"] body .spnc-custom .spnc-nav .dropdown.open > a.search-icon {color: #FFFFFF;}
[data-theme="spnc_dark"] label {color: #FFFFFF;}
[data-theme="spnc_dark"] .wpcf7 form.aborted .wpcf7-response-output,
[data-theme="spnc_dark"] .wpcf7 form.failed .wpcf7-response-output,
[data-theme="spnc_dark"] .wpcf7 form.invalid .wpcf7-response-output,
[data-theme="spnc_dark"] .wpcf7 form.unaccepted .wpcf7-response-output,
[data-theme="spnc_dark"] .wpcf7 form.payment-required .wpcf7-response-output{color: #FFFFFF;}
[data-theme="spnc_dark"] input[type="text"],
[data-theme="spnc_dark"] input[type="email"],
[data-theme="spnc_dark"] input[type="url"],
[data-theme="spnc_dark"] input[type="password"],
[data-theme="spnc_dark"] input[type="search"],
[data-theme="spnc_dark"] input[type="number"],
[data-theme="spnc_dark"] input[type="tel"],
[data-theme="spnc_dark"] input[type="range"],
[data-theme="spnc_dark"] input[type="date"],
[data-theme="spnc_dark"] input[type="month"],
[data-theme="spnc_dark"] input[type="week"],
[data-theme="spnc_dark"] input[type="time"],
[data-theme="spnc_dark"] input[type="datetime"],
[data-theme="spnc_dark"] input[type="datetime-local"],
[data-theme="spnc_dark"] input[type="color"],
[data-theme="spnc_dark"] textarea{color: #cacbd2;border:1px solid rgba(255, 255, 255, 0.3);}
[data-theme="spnc_dark"] body a:focus:not(.site-info a){outline: 2px dotted #fff;}
[data-theme="spnc_dark"] button:focus, [data-theme="spnc_dark"] input[type="button"]:focus, [data-theme="spnc_dark"] input[type="submit"]:focus, [data-theme="spnc_dark"] textarea:focus {outline: 2px dotted #fff;}
[data-theme="spnc_dark"] .page-numbers.dots{color: #fff;}
[data-theme="spnc_dark"] .spnc_sidebar_panel {background-color: #15253D;}
[data-theme="spnc_dark"] .spnc_body_sidepanel .spnc_closebtn {color: #fff;}
[data-theme="spnc_dark"] .widget_nav_menu a {color: #6C6C6F;}
[data-theme="spnc_dark"] body.newscrunch .spnc-custom .spnc-nav .open.active > a,[data-theme="spnc_dark"] body .spnc-nav > li.parent-menu .dropdown-menu a:hover,[data-theme="spnc_dark"] body .spnc-nav > li.parent-menu .dropdown-menu a:focus{color: #FFFFFF;}
[data-theme="spnc_dark"] body .spnc-nav > li.parent-menu .dropdown-menu a{color: #d5d5d5;}
[data-theme="spnc_dark"] .spnc-custom .spnc-nav > li > a:focus,[data-theme="spnc_dark"] .spnc-custom .spnc-nav > li > a:hover,[data-theme="spnc_dark"] .spnc-custom .spnc-nav .open > a,[data-theme="spnc_dark"] .spnc-custom .spnc-nav .open > a:focus,[data-theme="spnc_dark"] .spnc-custom .spnc-nav .open > a:hover {color: #669c9b;background-color: transparent;}
[data-theme="spnc_dark"] .spnc-custom .spnc-nav > .active > a:hover,[data-theme="spnc_dark"] .spnc-custom .spnc-nav > .active > a,[data-theme="spnc_dark"] .spnc-custom .spnc-nav > .active > a:hover,[data-theme="spnc_dark"] .spnc-custom .spnc-nav > .active > a:focus {color: #FFFFFF;background-color: #669c9b;}
[data-theme="spnc_dark"] .spnc-custom .spnc-nav > li.parent-menu.active > a:hover,[data-theme="spnc_dark"] .spnc-custom .spnc-nav > li.parent-menu.active.open > a:hover,[data-theme="spnc_dark"] .spnc-custom .spnc-nav > li.parent-menu.active > a:focus{ color: #fff;}
[data-theme="spnc_dark"] body.home .blog.spnc-category-page{background: #000;}
[data-theme="spnc_dark"] body a:focus{outline: 2px dotted #fff;}
[data-theme="spnc_dark"] .comment-section h1, [data-theme="spnc_dark"] .comment-section h2, [data-theme="spnc_dark"] .comment-section h3, [data-theme="spnc_dark"] .comment-section h4, [data-theme="spnc_dark"] .comment-section h5,[data-theme="spnc_dark"] .comment-section h6 {color: #ffffff;}
[data-theme="spnc_dark"] .header-6 .spnc-custom .spnc-nav li > a.search-icon,[data-theme="spnc_dark"] body.newscrunch .spnc-custom .spnc-nav li > a.search-icon{color: #FFFFFF;}
[data-theme="spnc_dark"] .site-footer .footer-sidebar .spnc-social-content .spnc-count {color: #000;}
[data-theme="spnc_dark"] .site-footer .widget .wp-block-latest-posts li a:hover, 
[data-theme="spnc_dark"] .site-footer .widget .wp-block-latest-posts li a:focus, 
[data-theme="spnc_dark"] .site-footer .widget .wp-block-archives li a:hover, 
[data-theme="spnc_dark"] .site-footer .widget .wp-block-archives li a:focus, 
[data-theme="spnc_dark"] .site-footer .widget .wp-block-categories li a:hover, 
[data-theme="spnc_dark"] .site-footer .widget .wp-block-categories li a:focus, 
[data-theme="spnc_dark"] .site-footer .widget .wp-block-page-list li a:hover, 
[data-theme="spnc_dark"] .site-footer .widget .wp-block-page-list li a:focus, 
[data-theme="spnc_dark"] .site-footer .widget .wp-block-rss li a:hover, 
[data-theme="spnc_dark"] .site-footer .widget .wp-block-rss li a:focus, 
[data-theme="spnc_dark"] .site-footer .widget_meta ul li a:hover, 
[data-theme="spnc_dark"] .site-footer .widget_meta ul li a:focus, 
[data-theme="spnc_dark"] .site-footer .widget .wp-block-latest-comments li a:hover
[data-theme="spnc_dark"] .site-footer .widget .wp-block-latest-comments li a:focus{color: #669c9b;}
[data-theme="spnc_dark"]  #spnc_panelSidebar .spnc-sidebar .widget.spnc-side-panel .widget-title{color: #fff;}
[data-theme="spnc_dark"] .spnc-category-page .spnc-grid-catpost .spnc-post-wrapper, 
[data-theme="spnc_dark"] .spnc-blog-page .spnc-post-wrapper,
[data-theme="spnc_dark"] .spnc-list-view .spnc-blog-wrapper .spnc-post {background: #1b1b1b;}
[data-theme="spnc_dark"] #spnc-single-post-related-slider .spnc-post-content h4.spnc-entry-title a{color: #fff;}
[data-theme="spnc_dark"] .spnc-common-widget-area,
[data-theme="spnc_dark"] .spnc-sidebar .widget,
[data-theme="spnc_dark"] .spnc-category-page .spnc-blog-cat-wrapper .spnc-first-catpost .spnc-post,
[data-theme="spnc_dark"] .spnc-category-page .spnc-post-wrap {background-color: #1b1b1b;}
[data-theme="spnc_dark"] .header-2 .spnc-custom .spnc-navbar,[data-theme="spnc_dark"] .header-3 .spnc-custom .spnc-navbar {
  background: #1b1b1b;box-shadow: 0 5px 25px 0 #ffffff10;}
[data-theme="spnc_dark"] .header-2 .spnc-custom .spnc-navbar {background: #1b1b1b;}
[data-theme="spnc_dark"] .header-1 .spnc-custom {box-shadow: unset;}
[data-theme="spnc_dark"] .header-1 .spnc-custom .spnc-navbar .spnc-container{background: #1b1b1b;}
[data-theme="spnc_dark"] .header-2 .spnc-custom {box-shadow: 0 5px 25px 0 #ffffff10;}
[data-theme="spnc_dark"] .header-2 .spnc-widget-toggle>a.spnc-toggle-icon:hover {color: #fff;}
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post,[data-theme="spnc_dark"] #spnc-single-post-related-slider,[data-theme="spnc_dark"] .newscrunch.single-post article.comment-form {background-color: #1b1b1b;}
[data-theme="spnc_dark"] .spnc-contact-wrapper,[data-theme="spnc_dark"] .spnc-contact-sidebar {   background-color: #1b1b1b;}
[data-theme="spnc_dark"] .spnc-blog-page .spnc-post,[data-theme="spnc_dark"] .spnc-blog-page.spnc-masonry .spnc-post {background-color: #1b1b1b;}
[data-theme="spnc_dark"] .header-4 .spnc-custom .spnc-navbar .spnc-container,[data-theme="spnc_dark"] .header-6 .spnc-custom .spnc-navbar .spnc-container {background: transparent;box-shadow: unset;}
[data-theme="spnc_dark"] .comment-section {background-color: #1b1b1b;}
[data-theme="spnc_dark"] .blog-author,[data-theme="spnc_dark"] .comment-box {box-shadow: 0 5px 25px 0 #ffffff10;}
[data-theme="spnc_dark"] .widget .wp-block-latest-posts li,[data-theme="spnc_dark"]  .widget .wp-block-archives li,[data-theme="spnc_dark"]  .widget .wp-block-categories li,
[data-theme="spnc_dark"] .widget .wp-block-page-list li{color: #6C6C6F;}
[data-theme="spnc_dark"] .page-section-space .spnc-col-9 .spnc_con_info { border: 1px solid rgba(42, 42, 42, 1);}
[data-theme="spnc_dark"] .widget .wp-block-latest-posts li:last-child,[data-theme="spnc_dark"] .widget .wp-block-archives li:last-child,[data-theme="spnc_dark"] .widget .wp-block-categories li:last-child,[data-theme="spnc_dark"] .widget .wp-block-page-list li:last-child,[data-theme="spnc_dark"] .widget .wp-block-rss li:last-child,[data-theme="spnc_dark"] .widget_meta ul li:last-child,[data-theme="spnc_dark"] .widget .wp-block-latest-comments li:last-child {border: unset;}
[data-theme="spnc_dark"] .navxt-breadcrumb,[data-theme="spnc_dark"] .rank-math-breadcrumb span {
    color: #fff;
}
[data-theme="spnc_dark"] .spnc-video.video-layout-2 .spnc_column-3 .spnc_grid_item .spnc-post {background-color: #1b1b1b;}
[data-theme="spnc_dark"] .spnc-video.video-layout-2 .spnc_column-3 h3.spnc-entry-title a,
[data-theme="spnc_dark"] .spnc-video.video-layout-2 .spnc_column-3 .spnc-entry-content .spnc-entry-meta a,
[data-theme="spnc_dark"] .spnc-video.video-layout-2 .spnc_column-3 .spnc-entry-content .spnc-entry-meta i{color: #fff;}
[data-theme="spnc_dark"] .spnc-single-post .spnc-pagination-single {background-color: #1b1b1b;}
@media (min-width:816px){
	[data-theme="spnc_dark"] .spnc-single-post .spnc-pagination-single:has(.spnc-post-previous) .spnc-post-next {border-left: 1px solid rgba(255, 255, 255, 0.3);}
	[data-theme="spnc_dark"] .spnc-single-post .spnc-pagination-single.paginatn_desgn-2 .spnc-post-next {border-left: 0;}
	[data-theme="spnc_dark"] .spnc-single-post .spnc-pagination-single.paginatn_desgn-3 .spnc-post-next {border-left: 0;}
}
@media (max-width: 1100px)
{
	[data-theme="spnc_dark"] .header-sidebar .collapse.spnc-collapse {background-color: #15253d;}
	[data-theme="spnc_dark"] body.newscrunch #wrapper .header-sidebar .spnc-custom .spnc-collapse .spnc-nav li > a {color: #fff;-webkit-text-fill-color: unset;}
	[data-theme="spnc_dark"] .spnc-custom .spnc-nav.nav > li.active > a,
	[data-theme="spnc_dark"] .spnc-custom .spnc-nav > li.parent-menu.active > a:hover, 
	[data-theme="spnc_dark"] .spnc-custom .spnc-nav > li.parent-menu.active.open > a:hover,
	[data-theme="spnc_dark"] .spnc-custom .spnc-nav > li.parent-menu.active > a:focus,
	[data-theme="spnc_dark"] body.newscrunch .spnc-custom .spnc-nav .open.active > a{color: #000;}
}
[data-theme="spnc_dark"] .spnc-related-posts { background-color: #1b1b1b;}
[data-theme="spnc_dark"] .spnc-related-posts .spnc-related-post-wrapper .spnc-post { background-color: #1b1b1b;
box-shadow: 0 0 1px 1px rgba(42, 42, 42, 1);}
[data-theme="spnc_dark"] .spnc-related-posts .spnc-related-post-wrapper .spnc-post .spnc-post-wrapper{ background-color: #1b1b1b;}
[data-theme="spnc_dark"] .spnc-related-posts .spnc-related-post-wrapper .spnc-post .spnc-entry-title a{color: #fff;}
[data-theme="spnc_dark"] .spnc-related-posts .spnc-related-post-wrapper .spnc-post .spnc-entry-header {border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
[data-theme="spnc_dark"] .spnc-common-widget-area.widget_newscrunch_post_tabs .spnc-panel ul li a{color: #fff;}
[data-theme="spnc_dark"] .spnc-trending-post-title a.a_effect2::after,
[data-theme="spnc_dark"]  a.wp-block-latest-posts__post-title.a_effect2:after,
[data-theme="spnc_dark"] a.a_effect2:not( .trend, .widget_newscrunch_single_column a.a_effect2, .spncp-missed-section a.a_effect2, .widget_newscrunch_overlay_slider a.a_effect2, .wp-block-latest-posts__post-title.a_effect2 )::before,[data-theme="spnc_dark"] .spncmc-1.spncp-missed-section a.a_effect2:hover::before,[data-theme="spnc_dark"] #wrapper .widget_newscrunch_post_tabs.w-c a.a_effect2::before{background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #fffdfd 50%, rgba(0,0,0,0) 100%);}}
[data-theme="spnc_dark"] .a_effect6:hover:after, [data-theme="spnc_dark"] .a_effect6:focus:after{color: #fff;text-shadow: 10px 0 #fff, -10px 0 #fff;}
[data-theme="spnc_dark"] .spnc-missed-section h4.spnc-entry-title a{color: #fff;}
@media (min-width:767px){[data-theme="spnc_dark"] .spncmc-1 .spnc-missed-post{border-right: 2px solid #2A2A2A;}}
[data-theme="spnc_dark"] .spnc-wrapper.spnc-btn-1 .widget_newscrunch_post_tabs .spnc-label-tab.active .spnc-tab {color: #fff;}
[data-theme="spnc_dark"] .spnc-blog-page .spnc-entry-content .spnc-more-link {color: #fff;}
[data-theme="spnc_dark"] .page-section-space.spnc-grid-view .spnc-entry-content .spnc-more-link{color: #fff}
[data-theme="spnc_dark"] .spnc-marquee-wrapper .date a, .spnc-marquee-wrapper .date .display-time{color: #cacbd2;}
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper .spnc-post .spnc-description,[data-theme="spnc_dark"]  .spnc-post .spnc-description p{color: #cacbd2;}
[data-theme="spnc_dark"] .spnc-missed-section .spnc-entry-meta span.spnc-author a,
[data-theme="spnc_dark"] .widget_newscrunch_grid_slider_two_column .spnc-filter .spnc-post .spnc-entry-meta a,
[data-theme="spnc_dark"] .widget_spncp_filter_two_column .spnc-filter .spnc-post .spnc-entry-meta a{color: #a7a7a7;}
[data-theme="spnc_dark"] .footer-sidebar h6,
[data-theme="spnc_dark"] .site-info .copyright-section,
[data-theme="spnc_dark"] .footer-sidebar .widget .wp-block-tag-cloud a,
[data-theme="spnc_dark"] .spnc-social-content .spnc-label,
[data-theme="spnc_dark"] body .widget_newscrunch_post_tabs .spnc-panel .date,
[data-theme="spnc_dark"] .widget_newscrunch_grid_slider_two_column .spnc-filter .spnc-post .spnc-entry-meta a,
[data-theme="spnc_dark"] .widget_spncp_filter_two_column .spnc-filter .spnc-post .spnc-entry-meta a,
[data-theme="spnc_dark"] .widget_newscrunch_grid_slider_three_column .spnc-post-grid-slider-three-column .spnc-entry-meta a:not(.spnc-post-grid-slider-three-column .spnc-entry-meta .spnc-cat-links a),
[data-theme="spnc_dark"] .widget_spncp_filter_three_column .spnc-entry-meta a,
[data-theme="spnc_dark"] .widget_newscrunch_featured_post .spnc-post .spnc-entry-meta a,
[data-theme="spnc_dark"] .widget_newscrunch_featured_post .spnc-entry-meta i,
[data-theme="spnc_dark"] .widget_newscrunch_list_view_slider .spnc-blog-wrapper .spnc-post .spnc-entry-meta a:not(.spnc-blog-wrapper .spnc-post .spnc-entry-meta .spnc-date a) ,
[data-theme="spnc_dark"] .widget_newscrunch_list_view_slider .spnc-blog-wrapper .spnc-entry-meta i,
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper-1 .spnc-post .spnc-entry-meta .spnc-date a, 
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper-1 .spnc-post .spnc-entry-meta .spnc-date .display-time,
[data-theme="spnc_dark"] .widget_newscrunch_post_grid_two_col .widget-recommended-post li span,
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-entry-meta span i,
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-entry-meta a:not(.spnc-entry-meta .spnc-cat-links a, .spnc-entry-meta.spnc-cat-links a), 
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-entry-meta .spncp-post-count, 
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-entry-meta .single.spnc-date .display-time,
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-entry-content .spnc-description,
[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-post-footer-content .spnc-footer-social-links .spnc-custom-social-icons li i,
[data-theme="spnc_dark"] .spnc-single-post .comment-form form input::placeholder,
[data-theme="spnc_dark"] .spnc-single-post .comment-form form textarea::placeholder,
[data-theme="spnc_dark"] .spnc-category-page .spnc-grid-catpost .spnc-entry-meta a,
[data-theme="spnc_dark"] .spnc-category-page .spnc-grid-catpost .spnc-footer-meta .spnc-date a,
[data-theme="spnc_dark"] .spnc-category-page .spnc-grid-catpost .spnc-footer-meta .spnc-date .display-time,
[data-theme="spnc_dark"] .spnc-single-post .spnc-tag-links,
[data-theme="spnc_dark"] .footer-sidebar .widget .wp-block-tag-cloud a,
[data-theme="spnc_dark"] .widget_spncp_filter_list_view .spnc-wrapper-4-item .spnc-post .spnc-post-content .spnc-description,
[data-theme="spnc_dark"] .widget_spncp_filter_list_view .spnc-wrapper-4-item .spnc-post .spnc-post-content .spnc-footer-meta span,
[data-theme="spnc_dark"] .widget_newscrunch_plus_list_view .newscrunch_plus_list_view_ul .spnc-entry-meta span,
[data-theme="spnc_dark"] .footer-sidebar .widget_block p,
[data-theme="spnc_dark"] .footer-sidebar .wp-block-latest-comments__comment-date,
[data-theme="spnc_dark"] .site-footer .widget_newscrunch_post_grid_two_col .widget-recommended-post li span,
[data-theme="spnc_dark"] .spnc-blog-page .spnc-entry-meta a,
[data-theme="spnc_dark"] .spnc-blog-page .spnc-footer-meta .spnc-date a, 
[data-theme="spnc_dark"] .spnc-blog-page .spnc-footer-meta .blog.spnc-date .display-time,
[data-theme="spnc_dark"] .spnc-wrapper.spnc-btn-1 .widget_newscrunch_post_tabs .spnc-label-tab .spnc-tab,
[data-theme="spnc_dark"] .footer-sidebar .wp-block-latest-posts__post-author,
[data-theme="spnc_dark"] .footer-sidebar .wp-block-latest-posts__post-date,
[data-theme="spnc_dark"] .footer-sidebar .widget .wp-block-latest-posts li,
[data-theme="spnc_dark"] .spnc-related-posts .spnc-related-post-wrapper .spnc-post .spnc-post-content .spnc-entry-meta span a, 
[data-theme="spnc_dark"] .spnc-related-posts .spnc-related-post-wrapper .spnc-post .spnc-post-content .spnc-entry-meta .display-time,
[data-theme="spnc_dark"] .spnc-related-posts .spnc-related-post-wrapper .spnc-post .spnc-footer-meta .spnc-date,
[data-theme="spnc_dark"] .spnc-read-time{color: #a7a7a7;}
[data-theme="spnc_dark"] .footer-sidebar .widget .widget-title {padding-bottom: 1rem;color: #fff;margin: 0 0 2rem;font-size: 1.25rem;font-weight: 700;border-bottom: 1px solid #6C6C6F;position: relative;}
[data-theme="spnc_dark"] .spnc-blog-wrapper .owl-carousel .owl-prev,
[data-theme="spnc_dark"] .spnc-blog-wrapper .owl-carousel .owl-next,
[data-theme="spnc_dark"] body.newscrunch .widget_spncp_filter_two_column .owl-carousel .owl-prev,
[data-theme="spnc_dark"] body.newscrunch .widget_spncp_filter_two_column .owl-carousel .owl-next,
[data-theme="spnc_dark"] body.newscrunch .widget_spncp_filter_three_column .owl-carousel .owl-prev,
[data-theme="spnc_dark"] body.newscrunch .widget_spncp_filter_three_column .owl-carousel .owl-next,
[data-theme="spnc_dark"] body.newscrunch .widget_newscrunch_overlay_slider .owl-carousel .owl-prev,
[data-theme="spnc_dark"] body.newscrunch .widget_newscrunch_overlay_slider .owl-carousel .owl-next {box-shadow: 0 0 1px 1px #a7a7a7;color: #a7a7a7;}
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper-2 .owl-carousel .owl-prev,
[data-theme="spnc_dark"] .spnc-blog-1 .spnc-blog-wrapper-2 .owl-carousel .owl-next {box-shadow: 0 0 1px 1px #a7a7a7;color: #a7a7a7;}
[data-theme="spnc_dark"] .widget_newscrunch_featured_post .owl-carousel .owl-prev,
[data-theme="spnc_dark"] .widget_newscrunch_featured_post .owl-carousel .owl-next {box-shadow: 0 0 1px 1px #a7a7a7;color: #a7a7a7;}
[data-theme="spnc_dark"] .widget_newscrunch_list_view_slider .spnc-blog-wrapper .spnc-post-content .spnc-entry-meta span:not(:last-child):after {color: #a7a7a7;}
[data-theme="spnc_dark"] .widget_newscrunch_list_view_slider .spnc-blog-wrapper .owl-carousel .owl-prev,
[data-theme="spnc_dark"] .widget_newscrunch_list_view_slider .spnc-blog-wrapper .owl-carousel .owl-next {box-shadow: 0 0 1px 1px #a7a7a7;color: #a7a7a7;}
[data-theme="spnc_dark"] .spnc-blog-2 .spnc-blog-wrapper-2 .owl-carousel .owl-prev,.spnc-blog-2 .spnc-blog-wrapper-2 .owl-carousel .owl-next {box-shadow: 0 0 1px 1px #a7a7a7;color: #a7a7a7;}
[data-theme="spnc_dark"] .owl-carousel .owl-dots span {background-color: #a7a7a7;}
[data-theme="spnc_dark"] .widget_newscrunch_single_column .single-column .spnc-entry-meta span::before {background: #a7a7a7;}
[data-theme="spnc_dark"] #spnc-marquee-right, 
[data-theme="spnc_dark"] #spnc-marquee-left {padding: 0 !important;margin: 0px;
  -moz-border-radius: 0px;position: absolute;top: 50%;
  -ms-transform: translateY(-50%);transform: translateY(-50%);z-index: 10;overflow: hidden;cursor: pointer;text-align: center;
  -moz-transition: all 0.3s ease;transition: all 0.3s ease;border-radius: 50px;background-color: #fff;box-shadow: 0 0 0px 1px #a7a7a7;color: #a7a7a7;width: 2.1rem;height: 2.1rem;font-size: 1.125rem;line-height: 2;border: 0;}
[data-theme="spnc_dark"] .spnc-related-posts .owl-carousel .owl-prev,
[data-theme="spnc_dark"] .spnc-related-posts .owl-carousel .owl-next {box-shadow: 0 0 1px 1px #a7a7a7;
  color: #7b7c85;}
[data-theme="spnc_dark"] .spnc-missed-section .owl-carousel .owl-prev, 
[data-theme="spnc_dark"] .spnc-missed-section .owl-carousel .owl-next {box-shadow: 0 0 1px 1px #a7a7a7;color: #a7a7a7;}
[data-theme="spnc_dark"] thead th {color: #fff;}
[data-theme="spnc_dark"] th a{color: #CACBD2;}
[data-theme="spnc_dark"] tbody tr:nth-child(2n+1){background-color:#000;}
[data-theme="spnc_dark"] table,[data-theme="spnc_dark"] th,[data-theme="spnc_dark"] td{border:1px solid rgba(255, 255, 255, 0.3);}
[data-theme="spnc_dark"] body {color: #CACBD2;}
[data-theme="spnc_dark"] mark,[data-theme="spnc_dark"] ins {color: #404040;}
[data-theme="spnc_dark"] .widget .wp-block-latest-posts li, 
[data-theme="spnc_dark"] .widget .wp-block-archives li,
[data-theme="spnc_dark"] .widget .wp-block-categories li,
[data-theme="spnc_dark"] .widget .wp-block-page-list li,
[data-theme="spnc_dark"] .widget .wp-block-rss li,
[data-theme="spnc_dark"] .widget_meta ul li,
[data-theme="spnc_dark"] .widget .wp-block-latest-comments li {border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
[data-theme="spnc_dark"] body .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-post-footer-content .spnc-entry-meta a:hover, 
[data-theme="spnc_dark"] body .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-post-footer-content .spnc-entry-meta a:focus {color: #ffffff;}
[data-theme="spnc_dark"] .wp-block-pullquote p,[data-theme="spnc_dark"]  .wp-block-pullquote cite {color: #cacbd2;}
[data-theme="spnc_dark"] .has-pale-cyan-blue-background-color p, [data-theme="spnc_dark"] .has-pale-pink-background-color p,[data-theme="spnc_dark"] .has-light-green-cyan-background-color p{color:#404040;}
[data-theme="spnc_dark"] .wp-block-calendar table:where(:not(.has-text-color)) {color: #a7a7a7;}
[data-theme="spnc_dark"] :where(.wp-block-calendar table:not(.has-background) th) {background: #606060;}
[data-theme="spnc_dark"] body #wrapper .widget_newscrunch_post_tabs a.a_effect2::before{background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #FFFDFD 50%, rgba(0, 0, 0, 0) 100%);position: absolute;}
[data-theme="spnc_dark"] .newscrunch-plus .breadcrumb-2.page-title-section .spnc-row {background-color: #161616;}
[data-theme="spnc_dark"] .newsblogger .breadcrumb-1.page-title-section {background: #1B1B1B;}
[data-theme="spnc_dark"] .spnc-category-page .spnc-grid-catpost .spnc-description,
[data-theme="spnc_dark"] .spnc-post-list-view-section .spnc-post .spnc-post-content .spnc-entry-content .spnc-entry-meta a,
[data-theme="spnc_dark"] .spnc-post-list-view-section .spnc-post .spnc-post-content .spnc-description { 
	color: #a7a7a7; 
	border-color: rgba(255, 255, 255, 0.3);
}
[data-theme="spnc_dark"] .breadcrumb-trail.breadcrumbs,
[data-theme="spnc_dark"] .spnc-post-list-view-section .spnc-post .spnc-post-content .spnc-entry-title a { color: #fff; }
[data-theme="spnc_dark"] .spnc-post-list-view-section .spnc-post { background-color: #1b1b1b; }
[data-theme="spnc_dark"] .spnc-post-list-view-section .spnc-post .spnc-post-content .spnc-more-link,
[data-theme="spnc_dark"] .spnc-category-page .spnc-grid-catpost .spnc-footer-meta .spnc-more-link {
	border: 1px solid #ffffff4d;
	color: #fff;
}

[data-theme="spnc_dark"] .header-12.header-sidebar .spnc .spnc-header-logo, [data-theme="spnc_dark"] .header-12 .spnc-navbar {  background-color: #161616;  }
[data-theme="spnc_dark"] .header-12.header-sidebar .spnc-custom .spnc-navbar {  border-top: 1px solid #242424;  }
[data-theme="spnc_dark"] .header-12.header-sidebar .spnc-widget-toggle > a.spnc-toggle-icon, [data-theme="spnc_dark"] .newsblogger .spnc-highlights-2.spnc-highlights-1 .spnc-marquee-wrapper .spnc-entry-title a, [data-theme="spnc_dark"] .header-12.header-sidebar .spnc-toggle, [data-theme="spnc_dark"] .newsblogger .site-footer .footer-sidebar .spnc-social-content .spnc-count { color: #fff;  }
[data-theme="spnc_dark"] .header-12 .spnc-dark-icon, [data-theme="spnc_dark"] .spnc-post-list-view-section .spnc-post .spnc-post-content .spnc-entry-content .spnc-author::after, [data-theme="spnc_dark"] .spnc-wrapper.spnc-btn-1 .widget_newscrunch_post_tabs .spnc-label-tab:not(.active) { background-color: #242424; }
[data-theme="spnc_dark"] .header-12 .spnc-custom .spnc-nav li > a{ color: #ffffff; }
[data-theme="spnc_dark"] .spnc-cat-first-post .spnc-post { background-color: #1b1b1b; }
[data-theme="spnc_dark"] .spnc-sidebar .widget_categories .wp-block-categories-list .cat-item a { color: #fff; }

[data-theme="spnc_dark"] .spnc-single-post.spnc-single-post-one .spnc-blog-wrapper .spnc-post .spnc-cat-links a{
	color: #fff;
}

[data-theme="spnc_dark"] .spnc-single-post-four .spnc-post-overlay .entry-header,
[data-theme="spnc_dark"] .spnc-single-post-six .spnc-blog-wrapper .spnc-post-overlay:not(.spnc-pagination-single .spnc-post-overlay){
  background-color: #161616;
}

[data-theme="spnc_dark"] .spnc-single-post-four .spnc-post-overlay .entry-header .spnc-entry-title,
[data-theme="spnc_dark"] .spnc-single-post-five .spnc-blog-wrapper .entry-header .spnc-entry-title,
[data-theme="spnc_dark"] .spnc-single-post-six .spnc-post-overlay .entry-header .spnc-entry-title{
  color: #fff;
}

[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-entry-meta :is(.spnc-read-time, .spncp-post-count ), 
[data-theme="spnc_dark"] .spnc-single-post-six .spnc-post-overlay .entry-header .spnc-entry-meta :is(.spnc-date a, .spnc-read-time, .spncp-post-count, .spnc-comment-links a, .spnc-tag-links a){
  color:#a7a7a7;
}

/*[data-theme="spnc_dark"] .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-entry-meta :is(a, .spnc-cat-links a ):is(:hover, :focus) {
  color: #369ef6;
}*/

[data-theme="spnc_dark"]  .spnc-single-post.spnc-single-post-four .spnc-post-overlay .entry-header .spnc-cat-links a,
[data-theme="spnc_dark"]  .spnc-single-post-six .spnc-post-overlay .entry-header .spnc-entry-meta .spnc-author a{
  color: #fff;
}

[data-theme="spnc_dark"] body #wrapper .spnc-single-post.spnc-single-post-one .spnc-blog-wrapper .spnc-post-overlay .spnc-cat-links a{
 color: #fff;
}

[data-theme="spnc_dark"] body #wrapper .spnc-single-post .spnc-blog-wrapper .spnc-post .spnc-entry-meta.spnc-cat-links a:hover{
 color: #fff;
}
[data-theme="spnc_dark"] .spnc-single-post.spnc-single-post-two .spnc-post-overlay .entry-header .spnc-cat-links a{
	color: #fff;
}
[data-theme="spnc_dark"] .seven-single .page-breadcrumb-section {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(27, 27, 27, 0.9) 80%);
}
[data-theme="spnc_dark"] .spnc-single-post.spnc-single-post-two .spnc-post-overlay .entry-header .spnc-entry-meta .spnc-author a{
	color: #fff;
}
[data-theme="spnc_dark"] .spnc-single-post.spnc-single-post-two .spnc-blog-wrapper .spnc-post  .spnc-post-overlay .entry-header .spnc-entry-meta :is(.spnc-author a, s.spnc-date a, .spnc-read-time, .spncp-post-count, .spnc-comment-links a, .spnc-tag-links a){
  color: #fff;
}
[data-theme="spnc_dark"] .spnc-author-box {
  background-color: #161616;
}
[data-theme="spnc_dark"] .spnc-author-box .spnc-author a,
[data-theme="spnc_dark"] .spnc-author-box.spnc-author-box-three .spnc-author-posts-link,
[data-theme="spnc_dark"] .spnc-author-box.spnc-author-box-three .spnc-author-socials .spnc-custom-social-icons li a {
  color: #ffffff;
}
[data-theme="spnc_dark"] .spnc-author-box .spnc-author-desc,
[data-theme="spnc_dark"] .spnc-author-box.spnc-author-box-three .spnc-author-desc {color: #a7a7a7;}