.widget-content .newscrunch-widet-area > img {width: 100%;height: auto;}
body.wp-admin .widget-content .newscrunch-widet-area label{ font-size: 14px;}
.newscrunch-widget-social{width: 48% !important; display: inline-block !important; margin-bottom: 10px !important;}